body {
    all: unset;
    background-color: #01040d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: monospace;
    color: white;
    letter-spacing: 2px;
}

h1.title {
    font-size: 6em;
    margin-bottom: 1.5em;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: unset;
    width: 30%;

}

.challenge-list {
    display: flex;
    flex-direction: column;
    gap: 2em;
    
}

.challenge-list > a {
    background-color: #1f2036;
    padding: 0em 1em;
    border-radius: 10px;
    font-size: 1.5em;
    border-top: 4px solid red;
    display: flex;
    align-items: center;
    gap: 1em;
    text-decoration: none;
    color: white;
}

.challenge-list > a > small {
    border: 1px solid #97c2f0;
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 5px;
}

.challenge-list > a > small.solved {
    border: 1px solid #56ae6e;
    background-color: #148b50;
    padding: 3px 5px;
    font-weight: bold;
    border-radius: 5px;
}

input {
    all: unset;
    border: 2px solid #1f2036;
    font-size: 1.5em;
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: white;
    width: 50%;
    color: black;
}

button {
    all: unset;
    background-color: #1f2036;
    font-size: 1.5em;
    border-radius: 10px;
    border: 2px solid #1f2036;
    padding: 0.5em 1em;
    cursor: pointer;
    margin-left: auto;
}

button:hover {
    background-color: white;
    color: #1f2036;
}

form {
    display: flex;
}